@font-face {
  font-family: 'icomoon';
  src: url(../font/IcoMoon-Free.ttf);
}

#header{width: 100%; height: auto; }
#header .header_top{max-width: 1200px; height: 30px; margin: auto;}
#header .header_top>ul{display: flex; width: 100%; height: 100%; justify-content: flex-end; align-items: center;}
#header .header_top>ul>li{margin-left: 40px;}

#header .gnb{width: 100%; height: 80px; position: relative;}
.gnb .gnb_wrapper{position: relative; max-width: 1200px; height: 100%; margin: auto;}
.gnb .gnb_wrapper .gnb_menu{height: 100%; display: inline-block; position: absolute;}
.gnb .gnb_wrapper .gnb_menu>ul{display: flex; height: 100%; align-items: center;}
.gnb .gnb_wrapper .gnb_menu>ul>li{margin-right: 40px;}
.gnb .gnb_wrapper .gnb_logo{height: 80px; position: absolute; left: 50%; transform: translateX(-50%);}
.gnb .gnb_wrapper .gnb_logo>a{height: 80px;}
.gnb .gnb_wrapper .gnb_logo img{height: 100%;}

.gnb .gnb_wrapper .gnb_member{height: 100%;}
.gnb .gnb_wrapper .gnb_member>ul{display: flex;  align-items: center; height: 100%; position: absolute; right: 0;}
.gnb .gnb_wrapper .gnb_member>ul>li{margin-left: 50px; font-size: 20px;}

.banner_bg{width: 100%; height: 680px; background-color:cadetblue; position: absolute; top: 0; z-index: -1;}



/* 메인 */
/* 슬라이더 */
#main{width: 100%; height: auto;}
#main .main_wrapper{width: 100%; height: auto;}
#main .main_slider{}
.swiper-container{position: absolute; top: 180px; width: 100%; height: auto; height: 650px; top: 70px !important;}
.swiper-container .swiper-wrapper{}
.swiper-container .swiper-wrapper .swiper-slide{}


.swiper-container .banner_link{}
.swiper-container .banner_link img{}









/* celeb product */
.product{margin: 160px auto; max-width: 1200px;}
.product .pro_title{text-align: center;}
.product .pro_tab{width: 100%; height: auto; margin: 60px 0 30px 0;}
.product .pro_tab ul{display: flex; flex-direction: row; justify-content: center; align-items: center;}
.product .pro_tab ul li{padding: 0 25px;}

.product .pro_item{width: 100%; background-color: #999;}
.product .pro_item>ul{width: 100%; height: auto;}
.product .pro_item>ul .pro_link{width: 20%; height: 300px; _background-color: bisque; display: flex; float: left; justify-content: center; align-items: center; margin-top: 30px;}
.product .pro_item>ul .pro_link>div{width: 200px; height: 200px; background-color: yellow; border-radius: 50%;}
.product .pro_item>ul .pro_link>div>a{display: inline-block; width: 100%; text-align: center; height: 100%; border-radius: 50%; display: flex; justify-content: center; align-items: center; flex-direction: column;}
.product .pro_item>ul .pro_link>div>a>span{display: inline-block; width: 100%; 
margin-top: 25px; display: flex; justify-content: center; align-items: center;}
.product .pro_item>ul .pro_link>div>a>span>img{width: 40px; margin-left: 15px;}
.product .pro_item>ul li{width: 20%; height: 300px; float: left; padding: 0 10px; margin: 30px 0 20px 0;}
.product .pro_item>ul>li>a{width: 100%; height: 100%; display: inline-block;  background-color: cadetblue; overflow: hidden;}
.product .pro_item>ul>li>a>img{_width: 100%; height: 100%;}
.product .pro_item>ul>li .pro_desc{position: absolute; bottom: 0; visibility: hidden;}
.product .pro_item>ul>li .pro_desc:hover{visibility: visible;}






/* nugu section */
.nugu{width: 100%; height: 550px; position: relative;}
.nugu .nugu_bg{width: 100%; height: 100%; background-image: url(../img/nugu_bg.jpg); background-repeat: no-repeat; background-size: cover;}
.nugu .nugu_contents{text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
